.left_nav .left_nav-header {
  height: 80px;
  background-color: #002140;
  display: flex;
  align-items: center;
}
.left_nav .left_nav-header img {
  width: 40px;
  height: 40px;
  margin: 0 15px;
}
.left_nav .left_nav-header h1 {
  color: white;
  font-size: 20px;
  margin-bottom: 0;
}
